[submodule "src/services/browser-cmgr-ts"]
	path = src/services/browser-cmgr-ts
	url = https://github.com/Ajent-foundation/browser-cmgr
[submodule "src/services/scraper-service-ts"]
	path = src/services/scraper-service-ts
	url = https://github.com/Ajent-foundation/scraper-service.git
